.login-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(to right, #141e30, #243b55);
  color: white;
}

.login-image {
  flex: 1.2;
  height: 100%;
  background: url("https://images.unsplash.com/photo-1504674900247-0877df9cc836")
    no-repeat center center/cover;
}

.login-box {
  flex: 1;
  text-align: center;
  padding: 60px;
}

.login-box h1 {
  font-size: 3rem;
  color: #00e0ff;
}

.login-box p {
  margin: 15px 0 30px;
  font-size: 1.2rem;
  color: #eee;
}

.login-box button {
  background-color: #00e0ff;
  border: none;
  color: #000;
  font-size: 1.2rem;
  padding: 12px 30px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

.login-box button:hover {
  background-color: #1affd5;
  transform: scale(1.05);
}
